@model Assign.DAL.Models.Submission

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "_LayoutTeacher";
}

<h1>Edit</h1>

<h4>Submission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubId" />
            <div class="form-group">
                <label asp-for="AsignId" class="control-label"></label>
                <select asp-for="AsignId" class="form-control" asp-items="ViewBag.AsignId"></select>
                <span asp-validation-for="AsignId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudId" class="control-label"></label>
                <select asp-for="StudId" class="form-control" asp-items="ViewBag.StudId"></select>
                <span asp-validation-for="StudId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
