@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_LayoutStudents";
}

<div class="text-center">
    <h1 class="display-4">Welcome Student! Check the navigation bar for available options!</h1>
</div>